html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#score{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
}

#overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0);
    animation-name: fadeIn;
    animation-duration: 1s;
}

#overlay-2{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0);
    animation-name: fadeIn;
    animation-duration: 1s;
}

#overlay-2 #container{
    display: inline-block;
    width: 75%;
    margin: 100px auto;
    position: relative;
    background: rgba(255,255,255,.4);
    font-size: 20px;
}

#overlay-2 #container table{
    width: 100%;
    border-collapse: collapse;
}

#overlay-2 #container table th{
    font-size: 30px;
    padding: 10px;
    border: solid thin rgba(255,255,255,.4);
    background-color: cadetblue;
}

#overlay-2 #container table td{
    width: 50%;
    padding: 10px;
    border: solid thin rgba(255,255,255,.4);
}

#overlay-2 #container table img{
    padding: 10px 20px;
    vertical-align: middle;
}

#overlay-2 #container table td button{
    font-size: 25px;
    padding: 10px 20px;
}

#overlay h1{
    text-align: center;
}


/* taken from  https://codepen.io/sxrdev/pen/LXMwPb */
.fancy-title {
    color: #fff;
    font-size: 92px;
        font-family: 'ubuntu';
        text-transform: uppercase;
    font-weight: 700;
    font-family: 'Josefin Sans',sans-serif;
    background: linear-gradient(to right,#697dff 10%,#fff 50%,#5bdaff 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
}

.game-over {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
    height: 200px;
}

/* Taken from https://codepen.io/GeorgePark/pen/jeBbGN */
.game-over span {
    position: absolute;
    top: 75px;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.game-over::before,
.game-over::after {
    content: attr(data-text);
    position: absolute;
    top: 75px;
}

.game-over::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.game-over::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}




#overlay #menu{
    display: inline-block;
    width: 300px;
    margin: 50px auto;
    position: relative;
    background: rgba(255,255,255,.4);
    font-size: 50px;
}

#overlay #menu > div{
    padding: 5px;
    border-bottom: solid thin rgba(255,255,255,.3);
    cursor: pointer;
}

#overlay #menu > div:last-child{
    border-bottom: none;
}

#overlay #menu > div:hover{
    background-color: white;
    color: black;
    transition-duration: .3s;
}

@keyframes fadeIn{
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes textclip {
    to {
        background-position:200% center
    }
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}